/* reset */
$min-width: 320px;
$max-width: 1170px;
$base-bg: #FFF;
$base-font-size: 13px;
$base-line-height: 18px;
$base-font-family: 'Open Sans', sans-serif;
$custom-font-family: 'Comfortaa', cursive;
$custom2-font-family: 'Arial';
$link-color: #100da9;
$default-transition:all 0.2s linear;

/* main variables */

//text, titles
$text-color: #282828;
$title-color: #282828;
$title-font-family: $custom-font-family;
$font-size-h1: 30px;
$line-height-h1: 46px;
$font-size-h2: 32px;
$line-height-h2: 37px;
$font-size-h3: 28px;
$line-height-h3: 32px;

// color
$white: white;
$blue: #c2e8f0;
$blue2: #23a2be;
$blue3: #48b3cb;
$blue4: #39a6be;
$orange: #ffae2e;
$gray: #dbdbdb;
$gray2: #fbfbfb;
$gray3: #ebebeb;
$gray4: #444;
$gray5:#e1e1e1;
$gray6:#343434;
$gray7: #f3f3f3;
$gray8: #464646;
$gray9: #d7d7d7;
$gray10: #f1f1f1;
$red: #e44256;
